<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper SYSTEM "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.gmall.product.mapper.BaseAttrInfoMapper">
    <resultMap id="baseAttrInfoMap" type="com.atguigu.gmall.model.product.BaseAttrInfo" autoMapping="true">
        <id column="id" property="id"></id>
        <collection property="attrValueList" ofType="com.atguigu.gmall.model.product.BaseAttrValue" autoMapping="true">
            <id column="base_attr_value_id" property="id"></id>
        </collection>
    </resultMap>
<!--根据一级二级三级分类查询平台属性的名字和平台属性的值的列表-->
    <select id="selectBaseAttrInfoByCategory" resultMap="baseAttrInfoMap">
        SELECT
            t1.id,
            t1.attr_name,
            t1.category_id,
            t1.category_level,
            t2.id AS base_attr_value_id,
            t2.value_name,
            t2.attr_id
        FROM
            base_attr_info t1
            INNER JOIN base_attr_value t2 ON t1.id = t2.attr_id
        <where>
            <if test="category1Id != null and category1Id != 0">
                OR ( t1.category_id = #{category1Id} AND t1.category_level = 1 )
            </if>
            <if test="category2Id != null and category2Id != 0">
                OR ( t1.category_id = #{category2Id} AND t1.category_level = 2 )
            </if>
            <if test="category3Id != null and category3Id != 0">
                OR ( t1.category_id = #{category3Id} AND t1.category_level = 3 )
            </if>
        </where>
    </select>

    <!--查询指定sku的所有平台属性和值的列表-->
    <select id="selectBaseAttrInfoBySkuId" resultMap="baseAttrInfoMap">
        SELECT
            t1.id,
            t1.attr_name,
            t1.category_id,
            t1.category_level,
            t2.id AS base_attr_value_id,
            t2.value_name,
            t2.attr_id
        FROM
            base_attr_info t1
            INNER JOIN base_attr_value t2 ON t1.id = t2.attr_id
            INNER JOIN sku_attr_value t3 ON t3.attr_id = t1.id
            AND t3.value_id = t2.id
        WHERE
            sku_id = #{skuId}
    </select>
</mapper>
